/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .body {
    background-color: slategray;
  }
 .file_form {
  margin: auto;
  width: 50%;
  padding: 50px;
  text-align: center;
  background-color: ghostwhite;
 }
 input[type='file'] {
  opacity:0;
  width: 100%;
  height: 100%;
  /*padding: 10px;*/
 }

 .team-count{
   padding: 10px;
 }
.dropzone{
  height: 75px;
  text-align: center;
  border-width: 2px;
  border-style: dashed;
  border-color: grey;
  color: #222;
}
