<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
<div class="file_form">
  <h3>Free Software Foundation of Tamil Nadu</h3>
  <h5>App Dev Boot Camp</h5>
  <h6 style="color: grey">(The file should contain 'Email' and 'College' cloumn)</h6>
  <% if flash[:notice] %>
    <div class="notice" style="color: red"><%= flash[:notice] %></div>
  <% end %>
  <%= form_tag import_path,multipart: true do %>
    <div class="file_form">
      <span id='val'></span>
      <span style="color: grey">Click or Drag the file below!</span>
      <div class= "dropzone">
        <%= file_field_tag :file,id: "file-upload",:required => true%>
      </div>
      <label for="member-count"></label>
      <%= text_field_tag :team_count, nil,:placeholder => "enter member count...", id: "member-count",:required => true %>
     <%= submit_tag "Import" ,class: "button-primary", style: "background-color: lightseagreen"%>
     </div>
  <% end %>
<script>
$('#button').click(function(){
   $("input[type='file']").trigger('click');
})

$("input[type='file']").change(function(){
   $('#val').text(this.value.replace(/C:\\fakepath\\/i, ''))
})
</script>
